{% extends "layout.html.twig" %}

{% block title %}
    Forbidden
{% endblock %}


{% block content %}
    <h3>You don't have permission to access this page: <b>{{ resource }}</b></h3>
{% endblock %}
